<a href="https://colab.research.google.com/github/rmvsaipavan/manivenkatasaipavan_INFO5731_Fall2023/blob/main/Ramisetty_Manivenkatasaipavan_Exercise01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [ ]:
# write your answer here
length = int(input("enter the length: "))  #takes input from the user
width = int(input("enter the width: "))
ar_rec= length*width     #area= length * width
print(" area of the rectangle:", ar_rec)  # prints the calculated area

enter the length: 5
enter the width: 4
 area of the rectangle: 20

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [ ]:
# write your answer here
def swap_num():
    #takes the user input
    a= float(input("enter first num: "))
    b= float(input("enter second num: "))
    #swapping without temp var
    a = a + b
    b = a - b
    a = a - b
    print("After swapping", "First number is:",a , "Second number is:", b)

swap_num() #function call

enter first num: 5
enter second num: 6
After swapping First number is: 6.0 Second number is: 5.0

(3) Write a Python program to calculate the length of a string.

In [ ]:
# write your answer here
def cal_str_len():
    us_inp= input("Enter a string: ")   #takes the user input
    length = 0         #assigning zero
    for _ in us_inp:     #iterate through each character
        length += 1
    return length
cal_str_len()    #function call

Enter a string: myname is pavan

15

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
def count_no_of_char(strng):
    countt= {}    #initializing an empty dictionary
    for c in strng:      #iterate through each character
        if c in countt:
            countt[c]+=1
        else:
            countt[c]=1
    return countt       #returns the count
count_no_of_char("pavan venkata")

{'p': 1, 'a': 4, 'v': 2, 'n': 2, ' ': 1, 'e': 1, 'k': 1, 't': 1}

(5) Write a Python program to sum all the items in a list.

In [ ]:
# write your answer here
def cal_sum_itms(li_ele):
    count=0
    for x in li_ele:    #iterate through each num
        count+= x
    return "sum of list items is" , count
cal_sum_itms([1,2,3,4,5,6])

('sum of list items is', 21)

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [ ]:

def chang_first_char(sam_str):
    fir_char= sam_str[0]
    fin_str= fir_char+ sam_str[1:].replace(fir_char, "$")    #replacing the first cahr ele with $
    print("The final result", fin_str)       #prints the final result

chang_first_char("restart")

The final result resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [ ]:
# write your answer here

def fact():
    n= int(input("enter a number: "))
    fact = 1
    while n > 1:
        fact *= n
        n -= 1
    return "factorial of a num is ", fact
fact()

enter a number: 5

('factorial of a num is ', 120)

In [ ]:
def fact(n):

    fact = 1
    while n > 1:
        fact *= n
        n -= 1
    return fact
fact(5)

120

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [8]:
# write your answer here
input_string = input("Enter a list: ")

# divide the input string into numbers
numbers = input_string.split(',')

# Initializing an empty list to store even numbers
even_numbers = []

# Iterate through all the numbers and check for evenness
for num in numbers:
    num = int(num.strip())  # Converting each number to an integer
    if num % 2 == 0:
        even_numbers.append(num)

# Display the list of even numbers
print("Even numbers in the list are:", even_numbers)

Enter a list: 5,8,13,17,18
Even numbers in the list are: [8, 18]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [ ]:

def cal(a,b):
    s= 3.14 * (1 + a/b) ** 3
    print("The value of s is", s)
#User inputs
a= float(input("enter the value of a:"))
b= float(input("enter the value of b:"))
cal(a,b)

enter the value of a:2
enter the value of b:3
The value of s is 14.537037037037033

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

res_dict = {} #initializing dictionary t0 empty

for d in [dic1, dic2, dic3]:
    res_dict.update(d)

print("The Concatenated new Dictionary is :", res_dict)

The Concatenated new Dictionary is : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [ ]:
# write your answer here
def lar_ele(int_tup):
    if len(int_tup) == 0:  #checking condition if len of tuple =0
        return "not a tuple"
    smal= int_tup[0]
    lar= int_tup[0]

    for num in int_tup:    # Checking through loop untill int_tup
        if num > lar:
            lar= num
        if num< smal:
            smal=num
    return smal, lar

lar_ele((1,52,4,8,9,6))

(1, 52)

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [ ]:
# write your answer here
def cou_freq(str_char): #defining cou_freq function


    dist_new= {}

    for x in str_char:
        if x in dist_new:
            dist_new[x]+=1
        else:
            dist_new[x]=1
    return  dist_new
str_char= input("enter a string")# Getting user input
char_freq=cou_freq(str_char)
print("The frequency of each character is:", char_freq )

enter a stringfrequency of each character
The frequency of each character is: {'f': 2, 'r': 3, 'e': 4, 'q': 1, 'u': 1, 'n': 1, 'c': 4, 'y': 1, ' ': 3, 'o': 1, 'a': 3, 'h': 2, 't': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [ ]:
# write your answer here
def ele_within_tuple(ele, tup):
    return ele in tup

ele= int(input("enter an  element:"))
ele_within_tuple(ele, (1,2,3))

enter an  element:5

False

(14) Write a Python program to find maximum and the minimum value in a set.

In [ ]:
# write your answer here
def min_max(set_val):#defining function
    if len(set_val)==0:
        return "invalid input"
    max_val= max(set_val)
    min_val= min(set_val)
    print("maximum value is: ", max_val, "minimum value is", min_val)

min_max({1,15,21,-8,26,2})

maximum value is:  26 minimum value is -8

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [6]:
# write your answer here


import random    #imports random funtion


def groups(stu_list, num_of_groups, min_stu, max_stu):   #defining the function

  g = []
  stu_list = list(stu_list)
  random.shuffle(stu_list)        #shuffles the student list

  for i in range(num_of_groups):    #Iterating over the groups
    group = []
    for _ in range(min_stu):
      group.append(stu_list.pop())   #appending all the stu list that are popped out

    if stu_list:
      group.append(stu_list.pop())

    g.append(group) #appending students list into groups

  return g

#list of students
student_list_fall_2023 = [
    'sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469',
    'ac1770', 'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638',
    'mg1299', 'vkk0022', 'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658',
    'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597', 'htn0086',
    'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819',
    'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310'
]

num_of_groups = 6
min_stu = 4
max_stu = 6

g = groups(student_list_fall_2023, num_of_groups, min_stu, max_stu)  #function call

print("The groups are:")
for group in g:
  print(group)

The groups are:
['dt0463', 'ac1770', 'mg1299', 'gk0257', 'am2807']
['bk0413', 'lp0502', 'mc1453', 'vr0331', 'ss2981']
['mb1296', 'vkk0022', 'sc1622', 'su0137', 'sp2075']
['sd0926', 'sd1268', 'ag1609', 'dv0310', 'as2819']
['htn0086', 'sm2747', 'tc0469', 'rm1090', 'pm0658']
['sm2343', 'gp0306', 'sm2364', 'am2346', 'ad1187']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [9]:
# write your answer here
def dup_ele(arr_int):
    l= len(arr_int)
    set_st= set()
    dup = []         #duplicates
    for i in range(l):
        if arr_int[i] in set_st:
            dup.append(arr_int[i])
        else:
            set_st.add(arr_int[i])
    if not dup:
        return -1    # if no duplicates it returns -1
    else:
        return dup
arr_int=[1,5,2,1,2,3,6,6]
duplicat=dup_ele(arr_int)
print(duplicat)

[1, 2, 6]

(17) Write a Python program to select all the Sundays of a specified year.

In [ ]:
# write your answer here
import datetime     #imports datatime module

def select_allsun(year):
    sun=[]  #Initializes empty list of sundays

    for mon in range(1,13):    #iterate through each mon
        for day in range(1,32):   #iteration of each day
            try:
                date= datetime.date(year, mon, day)   # creates date object for year, mon, day

                if date.weekday() ==6:
                    sun.append(date)      # add the date to list of sundays
            except ValueError:          #handles
                pass
    return sun

part_year=int(input("Enter a year: "))    #gets the input from the user

sun_of_a_year= select_allsun(part_year)

if sun_of_a_year:       #check s sundays in a specific year
    print("sundays of a year")

    for sunday in sun_of_a_year:
        print(sunday)      #prints each sunday date

Enter a year: 2023
sundays of a year
2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [ ]:
# write your answer here
def fact(n):
    if n == 0 or n == 1:  # factorial of 0 and 1 is 1
        return 1
    else:
        fact_n = 1
        # Check from 2 to n and multiply the fact_n
        for i in range(2, n + 1):
            fact_n *= i
        return fact_n

# Entering the input
n = int(input("Enter a positive integer: "))

# Checking if input is less than 0
if n < 0:
    print("Factorial of given number is not defined.")
else:
    result = fact(n)  # To get the factorial of number Call the function fact
    print(f"The factorial of {n} is {result}")

Enter a positive integer: 3
The factorial of 3 is 6

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [ ]:

n = int(input("Enter a positive integer: "))   #Takes the user input


count = 0     #Initializing a count to zero
# Iterate through numbers from 1 to n
for num in range(1, n + 1):
    if num % 2 == 0:
        count += 1
    elif num > n:
        break    #

#prints the result
print(f"The even numbers from 1 to {n}  are {count} .")

Enter a positive integer: 5
The even numbers from 1 to 5  are 2 .

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [ ]:
# write your answer here
def count_vowels(input_string):
    vowels = 'aeiouAEIOU'  # defining a string to count vowels
    v_count = 0  # initializing

    # Iterate through each character in the input string
    for c in input_string:
        if c in vowels:  # checking the vowel
            v_count += 1

    return v_count

# input from the user
input_string = input("Enter a string: ")

# function call
vowel_count = count_vowels(input_string)
print(f"The count of vowels in the given string is: {vowel_count}")

Enter a string: mani
The count of vowels in the given string is: 2